.logo {
    height: 10rem;
    width: 10rem;
}
.ion-card{
    width: 80%;
    margin: 20px auto;
}
ion-card-header {
    text-align: center;
}

.login_button{
    text-align: center;
    margin-top: 10px; 
}