.user_tags {
    display: flex;
    max-width: 300px;
    margin-left: 15px;
    overflow-x: scroll;
    white-space: nowrap;
}

.user_tags span {
    padding: 0 3px;
    font-size: 13px;
}

.user_tags span + span::before {
    content: ',';
}

.actions {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 5px;
    border-top: 1px solid #e6e6e6;
    background: var(--ion-color-light);
}

.infinite-scroll-enabled {
    height: 1px;
}
// .ion-infinite-scroll-content {
//     text-align: left;
// }
.messages_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    // max-height: 33rem;
    // overflow: scroll;
    padding: 10px;
}

 .message {
    margin: 5px 0;
    width: 100%;
}

 .message .my_message , 
 .message .other_message {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 50%;
    padding: 5px;
    font-size: var(--fs-msg);
    font-weight: 500;
}

 .message .my_message span:nth-child(2) , 
 .message .other_message span:nth-child(2) {
    font-size: 10px;
}

 .my_message {
    background-color:var(--ion-color-primary);
    color: var(--ion-color-light);
    border: 1px solid var(--ion-color-primary);
    border-radius: 5px;
    float: right;
}

 .other_message {
    background-color:var(--ion-color-tertiary);
    color: var(--ion-color-light);
    border: 1px solid var(--ion-color-tertiary);
    border-radius: 5px;
    float: left;
}