.ion-card{
    width: 80%;
    margin: 20px auto;
}

ion-card-header {
    text-align: center;
}

.logo {
    height: 10rem;
    width: 10rem;
}

ion-content{
    --background: var(--ion-color-primary)
}

.register_button{
    text-align: center;
    margin-top: 10px;
}