<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" collapse="true">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list button>
    <ion-item button (click)="presentThemes()">
      <ion-avatar slot="start">
        <ion-icon size="large" name="sunny-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Theme</h2>
        <h3>{{currentTheme | titlecase}}</h3>
      </ion-label>
    </ion-item>

    <ion-item button (click)="presentFontSizes()">
      <ion-avatar slot="start">
        <ion-icon size="large" name="text-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Font Size</h2>
        <h3>{{currentFontSize | titlecase}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
