<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" collapse="true">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list button (click)="presentThemes()">
    <ion-item button>
      <ion-avatar slot="start">
        <ion-icon size="large" name="sunny-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Theme</h2>
        <h3>{{theme.currentTheme | titlecase}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
